.nav {
  background-color: #2b2b2b;
}
.nav-item {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  width: 1300px;
}
.toggle {
    border: none;
    outline: none;
}
.logo {
  margin-left: 20px;
  margin-top: -10px;
  width: 150px;
}
.Logo {
  margin-top: 10px;
  margin-left: 45px;
  font-weight: 800;
  color: black;
}
.Films {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-right: 20px;
  margin-top: -1px;
}
.tv-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.Films:hover {
  color: #fcc509;
}
.Series {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.series-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.Series:hover {
  color: #fcc509;
}
.Cartoons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  color: white;
}
.cartoons-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.Cartoons:hover {
  color: #fcc509;
}
.Dramas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  color: white;
}
.dramas-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.Dramas:hover {
  color: #fcc509;
}
.Anime {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  color: white;
  
}
.anime-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.Anime:hover {
  color: #fcc509;
}
.Search {
  width: 350px;
  height: 40px;
  padding-left: 20px;
  border: none;
  margin-left: 700px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgb(28, 28, 28, 0.1);
  color: #282c34;
  outline: none;
  transition: 0.1s;
}
.Search:focus {
  background-color: black;
  transition: 0.1s;
  color: white;
}
.seacrh-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  margin-top: -40px;
  margin-left: 1000px;
}
.search-logo {
  width: 25px;
  height: 25px;
}
